<h2>Sign Up</h2>
<div class="row">
	<form method="POST" action="/auth/signup" class="col s12">
		<div class="row">
			<div class="input-field col s6">
				<input type="text" id="firstname" name="firstname">
				<label for="firstname">First Name:</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s6">
				<input type="text" id="lastname" name="lastname">
				<label for="lastname">Last Name:</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<input type="text" id="email" name="email">
				<label>Email:</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<input type="text" id="username" name="username">
				<label>Username:</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<input type="password" id="password" name="password">
				<label>Password:</label>
			</div>
		</div>
		<div class="row">
			<div class="input-field col s12">
				<input type="password" id="passwordVerify" name="passwordVerify">
				<label>Password Verification:</label>
			</div>
		</div>
		<input type="submit" value="Sign Up" class="waves-effect waves-light btn">
	</form>
</div>